*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
.to{
	position:relative;
}

.to img{
	width: 400px;
	height: 180px;
	position: absolute;
	top: 10%;
	left: 35%;
}
.down{
	border: 3px solid rgba(192,252,253,0.7);
    padding: 13px 20px 12px;
    color: #f0e6d2;
    font-size: 18px;
    background: #1e2328;
    border-image: linear-gradient(to bottom,#08abac,#01698b);
    border-image-slice: 1;
   	width: 300px;
   	text-align: center;
    display: inline-block;
    font-weight: lighter;
}
.down:hover{
	box-shadow: 0 0 10px 4px rgba(192,252,253,0.4) ;
	background: linear-gradient(rgba(12,50,70,0.9));
}
.down1:hover{

	box-shadow: 0 0 10px 4px rgba(192,252,253,0.4) ;
	background: linear-gradient(rgba(12,50,70,0.9));
}
.downto{
	position: absolute;
	bottom: 10px;
	left: 40%;
	display: inline-block;
	text-align: center;
}
.downto1{
	position: absolute;
	top:60%;
	left: 35%;
	display: inline-block;
	text-align: center;
}
.down1{
	border: 3px solid rgba(192,252,253,0.7);
    color: #f0e6d2;
    font-size: 18px;
    background: #1e2328;
    border-image: linear-gradient(to bottom,#08abac,#01698b);
    border-image-slice: 1;
   	width: 150px;
   	height: 43px;
   	line-height: 41px;
   	text-align: center;
    display: inline-block;
    font-weight: lighter;
}
a{
	text-decoration: none;
}
h1{
	z-index: 2;
	position: absolute;
	display: block;
	left: 36%;
	bottom: 100px;
	font-size: 40px;
	color: rgba(200,140,0,0.9);
}
h3{
	z-index: 2;
	position: absolute;
	display: block;
	left: 38%;
	bottom: 150px;
	font-size: 40px;
	text-align: center;
	align-items: center;
	color: #f0e6d2;
}
.menunho p{
	text-align: center;
	height: 40px;
	background: rgba(160,150,5,0.9);
	display: inline-block;
	line-height: 40px;
	padding: 3px;
	width: 120px;
	color: black;
	font-weight: lighter;
	float: left;
}
.menunho p:hover{
	background: rgba(160,150,5,2.5);
}
.menunho ul>a{
	margin-right:20px; 
}
.download p{
	text-align: center;
	height: 50px;
	background: rgba(160,150,5,0.9);
	display: inline-block;
	line-height: 40px;
	padding: 3px;
	width: 120px;
	color: white;
	font-weight: 30px;
	float: left;
	margin-right: 30px;
	width: 150px;
	transform: scale(1.1);
	transition: 0.3s;
}
.download p:hover, .download2 p:hover{
	transform: scale(1.2);
}
.download{
	position: absolute;
	top: 60%;
	left: 33%;
	float: left;
}
a{
	color: white;
}
.download2{
	position: absolute;
	top: -100px;
	left: 34%;
	border: 3px solid rgba(192,252,253,0.7);
    color: #f0e6d2;
    font-size: 18px;
    background: #1e2328;
    border-image: linear-gradient(to bottom,#08abac,#01698b);
    border-image-slice: 1;
   	width: 150px;
   	height: 43px;
   	line-height: 41px;
   	text-align: center;
    display: inline-block;
    font-weight: lighter;
}
.cha{
	width: 100%;
	box-sizing: border-box;
	height: 1000px;
}
*{
	animation-name: vidu;
	animation-duration: 4s;
	animation-iteration-count: 1;
}
@keyframes vidu{
	from{transform: scale(1.1);}
	to{transform: scale(1);}
}
